*{
overflow-x: hidden;
margin: 0;
padding: 0;
}
.navbar{
    filter: drop-shadow(3px 4px 4px gray);
    padding: 20px;
    height: 7vh;
    background-color: white;
}
.navbarlist{
    list-style-type: none;
    margin-top: 3vh;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
    display: inline;
     
}
.lileft{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    float: left;
    margin-left: 5vw;
    margin-top: 2vh;
    margin-right: 0;
}
.liright{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    float: left;
    margin-right: 0;
    margin-top: 2vh;
    margin-left: 25vw;
}
.lielement{
    float: left;
    padding-left: 5vw;
}
.imgcontainer{
    width: 50vw;
}
.mainimg {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
}
.infocontainer{
    width: 100%;
}
.buybutton{
    position: absolute;
    font-family: 'Raleway', 'sans-serif';
    text-transform: uppercase;
    background-color: black;
    border: none;
    transition-duration: 0.4s;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    margin-left: 20vw;
    margin-top: 50vh;
}
.buybutton:hover{
    background-color: gray;
}
.logo{
    position: absolute;
    margin-left: 23vw;
    margin-top: 12vh;
}
.mainproductname{
    position: absolute;
    font-family: 'Raleway', 'sans-serif';
    font-size: 18px;
    font-weight: lighter;
    margin-left: 67vw;
    margin-top: -75vh;
    text-align: center;
}
.mainprice{
    position: absolute;
    font-family: 'Raleway', 'sans-serif';
    font-size: 18px;
    font-weight: bolder;
    margin-left: 75vw;
    margin-top: -65vh;
    text-align: center;
}