*{
font-family: 'Raleway', 'sans-serif';
overflow-x: hidden;
margin: 0;
padding: 0;
}
[class*="col-"] {
    width: 100%;
  }
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
.navbar{
    filter: drop-shadow(3px 4px 4px gray);
    padding: 20px;
    height: 7vh;
    background-color: white;
}
.navbarlist{
    list-style-type: none;
    margin-top: 3vh;
    padding: 0;
    overflow: hidden;
}

.lileft{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    float: left;
    margin-left: 5vw;
    margin-top: 2vh;
    margin-right: 0;
}
.liright{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    float: left;
    margin-right: 0;
    margin-top: 2vh;
    margin-left: 25vw;
}
.lielement{
    float: left;
    padding-left: 5vw;
}
.imgcontainer{
    width: 50vw;
}
.mainimg {
    width: 50%;
    height: 100vh;
    object-fit: cover;
}
.infocontainer{
    width: 100%;
}
.buybutton{
    position: absolute;
    font-family: 'Raleway', 'sans-serif';
    text-transform: uppercase;
    background-color: black;
    border: none;
    transition-duration: 0.4s;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    margin-left: 20vw;
    margin-top: 45vh;
}
.buybutton:hover{
    background-color: gray;
    cursor: pointer;
}
.logo{
    position: absolute;
    margin-left: 22.5vw;
    margin-top: 12vh;
}
.mainproductname{
    position: absolute;
    font-family: 'Raleway', 'sans-serif';
    font-size: 20px;
    font-weight: lighter;
    margin-left: 67vw;
    margin-top: -79vh;
    text-align: center;
}
.mainprice{
    position: absolute;
    font-family: 'Raleway', 'sans-serif';
    font-size: 19px;
    font-weight: bolder;
    margin-left: 74vw;
    margin-top: -71vh;
    text-align: center;
}
.btngroup button{
    font-size: 18px;
    background-color: white; 
    border: 1px solid black; 
    color: black; 
    width: 30px;
    height: 30px;
    cursor: pointer; 
    float: left; 
    margin-left: 1vw;
}
.btngroup{
    position: absolute;
    margin-left: 71vw;
    margin-top: -64vh;
}
.articlenumber{
    position: absolute;
    font-family: 'Raleway', 'sans-serif';
    text-transform: uppercase;
    margin-top: 56vh;
    margin-left: 19vw;
    color: gray;
}
.articlenumber2{
    font-weight: 500;
    color: black;
}
.checkmark{
    position: absolute;
    width: 14px;
    margin-left: 41vw;
    margin-top: 2vh;
}
.mainnew{
    text-transform: uppercase;
    padding: 4px 10px;
    color: white;
    background-color: black;
    position: absolute;
}
.instock{
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    margin-left: 42vw;
    margin-top: 2vh;
}
.additionalinfocontainer{
    color: gray;
    font-size: 18px;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 55vw;
    margin-top:-38vh;
}
.additionalinfocontainer span{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.additionalinfotop{
    padding-right: 31vw;
    border-top: 1px solid gray;
}
.additionalinfo{
    padding-right: 31vw;
    border-top: 1px solid gray;
}
.additionalinfobottom{
    padding-right: 31vw;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.downarrow1{
    margin-left: 29vw;
    width: 18px;
    position: absolute;
}
.downarrow2{
    margin-left: 29.2vw;
    width: 18px;
    position: absolute;
}
.downarrow3{
    margin-left: 29.7vw;
    width: 18px;
    position: absolute;
}
.downarrow4{
    margin-left: 30.3vw;
    width: 18px;
    position: absolute;
}
.imagegroup{
    margin-left: 9vw;
    margin-top: 17vh;
    position: absolute;
}
.imagegroup img{
    float: left;
    margin-left: 2vw;
}
.morefrombrand{
    position: absolute;
    text-transform: uppercase;
    margin-left: 11.1vw;
    margin-top: 13vh;
    font-weight: bold;
}
.seeallfrombrand{
    position: absolute;
    text-transform: uppercase;
    margin-left: 73vw;
    margin-top: 13vh;
}
.namegroup{
    position: absolute;
    margin-left: 8vw;
    margin-top: 63vh;
}
.namegroup span{
    text-align: center;
    color: gray;
    font-size: 17px;
    float: left;
    margin-left: 5.2vw;
}
.brandgroup{
    position: absolute;
    margin-left: 4.3vw;
    margin-top: 60vh;
}
.brandgroup span{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 17px;
    float: left;
    margin-left: 12.4vw;
}
.pricegroup{
    position: absolute;
    margin-left: 1.8vw;
    margin-top: 68vh;
}
.pricegroup span{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 17px;
    float: left;
    margin-left: 17vw;
}
.newsletterbg{
    margin-left: 11vw;
    margin-top: 85vh;
    width: 77.6%;
}
.newsletterheader{
    color: white;
    position: absolute;
    text-transform: uppercase;
    font-size: 38px;
    margin-top: 94vh;
    margin-left: 25vw;
}
.newslettertext{
    color: white;
    position: absolute;
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 103vh;
    margin-left: 19vw;
    text-align: center;
}
.inputmail{
    position: absolute;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid black;
    transition-duration: 0.4s;
    color: gray;
    padding: 15px 32px;
    font-size: 16px;
    display: inline-block;
    margin-left: 52vw;
    margin-top: 99vh;
}
.submitmail{
    cursor: pointer;
    position: absolute;
    text-transform: uppercase;
    background-color: black;
    border: none;
    transition-duration: 0.4s;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    margin-left: 65.8vw;
    margin-top: 99vh;
}
.submitmail:hover{
    cursor: pointer;
    background-color: gray;
}
.socialsgroup{
    width: 100%;
    height: 20vh;
    background-color: #ebebeb;
    position: absolute;
    margin-top: 15vh;
}
.socialsgroup button{
    cursor: pointer;
    font-weight: bold;
    float: left;
    text-transform: uppercase;
    background-color: #ebebeb;
    border: 2px solid black;
    transition-duration: 0.4s;
    color: black;
    padding: 16px 225px;
    text-align: center;
    font-size: 16px;
    margin-left: 3vw;
    margin-top: 7.5vh;
}
.footer{
    position: relative;
    background-color: black;
    margin-top: 35vh;
    height: 50vh;
}
.shoplist{
    position: absolute;
    margin-top: 7vh;
}
.shoplist li{
    margin-left: 25vw;
    position: relative;
    color: white;
    list-style-type: none;
    margin-top: 3vh;
    padding: 0;
    overflow: hidden;
}
.servicelist{
    position: absolute;
    margin-top: 7vh;
}
.servicelist li{
    margin-left: 45vw;
    position: relative;
    color: white;
    list-style-type: none;
    margin-top: 3vh;
    padding: 0;
    overflow: hidden;
}
.service{
    font-weight: bold;
    margin-left: 45vw;
    position: relative;
    color: white;
    list-style-type: none;
    margin-top: 3vh;
    padding: 0;
    overflow: hidden;
}
.contactlist{
    position: absolute;
    margin-top: 7vh;
}
.contactlist li{
    position: relative;
    color: white;
    list-style-type: none;
    margin-top: 3vh;
    margin-left: 65vw;
    padding: 0;
    overflow: hidden;
}
.contact{
    font-weight: bold;
    position: relative;
    color: white;
    list-style-type: none;
    margin-top: 3vh;
    margin-left: 65vw;
    padding: 0;
    overflow: hidden;
}
.shop{
    font-weight: bold;
    margin-left: 25vw;
    position: relative;
    color: white;
    list-style-type: none;
    margin-top: 3vh;
    padding: 0;
    overflow: hidden;  
}